extends ../layout/admin

block content
  h1 创建
  hr

  form.post-form(method="post",action="/admin/posts")
    .item-row
      input(type="hidden", name='_csrf', value='#{_csrf.token}')
    .item-row
      input.form-control(type="text", name="title", value='#{postForm.getTitle()}')
    .item-row
      textarea.form-control#content(name="content")
        = postForm.getContent()
    .item-row
      hr
      .row
        .col-sm-3
          span Status
          select.form-control(name="postStatus")
            for status in postStatus
              if status != postForm.getPostStatus()
                option(value="#{status.getId()}") #{status.getName()}
              else 
                option(value="#{status.getId()}", selected="selected") #{status.getName()}
        
        .col-sm-3
          span Permalink
          input.form-control(name="permalink", value="#{postForm.getPermalink()}")
        
        .col-sm-3
          span Tags
          input.form-control(name="postTags", value="#{postForm.getPostTags()}")
    .item-row
      hr
      button.btn.btn-primary.btn-block(type="submit") 创建

  script
    var editor = new Simditor({
      textarea: $('#content')
    });

    $("form").submit(function(){
        $("#content").val(editor.getValue());
        return true;
    });
